<div class="footer">
    <div class="logo-container"><img src="/assets/logo.png" class="logo" /><img src="https://www.zohowebstatic.com/sites/default/files/zoho-logo-zh-2x.png" class="brand-logo"/></div>
    <div class="corp">© 2022 Zoho Corp</div>
    <div class="social-icons">
        <a href="#" alt="facebook" target="_blank">
        <img class="" width="24" height="24" alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-facebook_tfqsuc"></a>
        <a href="#" alt="pintrest" target="_blank">
        <img class="" width="24" height="24" alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-pinterest_kmz2wd"></a>
        <a href="#" alt="instagram" target="_blank">
        <img class="" width="24" height="24" alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-instagram_b7nubh"></a>
        <a href="#" alt="twitter" target="_blank">
        <img class="" width="24" height="24" alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-twitter_gtq8dv"></a>
    </div>
</div>